.contact{
    padding-bottom: 0px;
    h4{
        font-family: $pl;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .btn-primary{
        text-transform: uppercase;
        padding: 10px 30px;
        font-size: 11px;
    }
    p{
        margin-bottom: 50px
    }
}