.guide{
    h5{
        font-weight: 500;
        color: $main;
        font-size: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 767.98px){
            font-size: 18px;
        }
    }
    p{
        line-height: 1.8;
        margin-bottom: 30px;
        font-size: 15px;
        @media only screen and (max-width: 767.98px){
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    .plyr{
        margin-bottom: 30px;
    }
    ul{
        padding-left: 20px;
        margin-bottom: 23px;
        @media only screen and (max-width: 767.98px){
            margin-bottom: 17px;
        }
        li{
            font-size: 15px;
            margin-bottom: 7px;
            @media only screen and (max-width: 767.98px){
                font-size: 14px;
            }
        }
    }
}