.preview-akta{
    padding: 50px 80px;
    background-color: #FFF;
    border-radius: 10px;
    height: 600px;
    overflow: auto;
    background-image: url('/lexar/watermark.png');
    background-position: top center;
    background-repeat: repeat-y; 
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.1);
    @media only screen and (max-width: 767.98px){
        padding: 25px 30px;
        background-size: 100%;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #EAE8E8;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #7A7A7A;
      border-radius: 0px;
    }
    h4{
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px; 
        color: $t;
        font-weight: 600;
        @media only screen and (max-width: 767.98px){
            font-size: 20px;
            margin-bottom: 15px; 
        }
    }
    p{
        line-height: 1.9;
        font-size: 20px;
        color: $t;
        text-align: justify;
        margin-bottom: 25px;
        @media only screen and (max-width: 767.98px){
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
    .text-bold{
        font-weight: bold;
    }
    ol{
        li{        
            font-size: 16px;
        }
        &.low-padding{
            padding-left: 15px;
        }
    }
    ul.lower-alpha{
        padding-left: 20px;
        li{
            list-style-type: lower-alpha;
            margin-bottom: 10px;
        }
    }
}