footer{
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 35px 0 55px 0;
    @media only screen and (max-width: 767.98px){
        padding: 0 0 20px 0;
        text-align: center;
    }
    .footer-title{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 800;
        margin: 5px 0 0 0;
        color: $t;
        @media only screen and (max-width: 767.98px){ 
            margin: 20px 0 0 0;
            font-size: 13px;
        }
    }
    .footer-list{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            font-size: 12px;
            line-height: 2.2;
            @media only screen and (max-width: 767.98px){
                font-size: 13px;
            }
            a{
                color: $t;
                display: block;
                transition: all 0.3s ease;
                &:hover, &:focus{
                    color: $main;
                    text-decoration: none;
                }
            }
        }
    }
    .socmed{
        margin: 15px 0 0px 0;
        padding: 0;
        float: left;
        width: 100%;
        @media only screen and (max-width: 767.98px){
            margin: 10px 0 20px 0;
            text-align: center;
        }
        li{
            list-style: none;
            float: left;
            margin-right: 15px;
            @media only screen and (max-width: 767.98px){
                float: none;
                display: inline-block;
                margin: 0 10px;
            }
            img{
                width: 16px;
            }
        }
    }
    .copyright{
        font-size: 12px;
        margin: 25px 0 10px 0;
        padding-top: 15px;
        border-top: 1px solid #DDD;
        text-align: left;
        display: block;
        @media only screen and (max-width: 767.98px){
            text-align: center;
            font-size: 13px;
        }
    }
}