.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $wt;
    padding: 0;
    z-index: 10;
    border-bottom: 1px solid $border;
    @media only screen and (max-width: 767.98px){
        padding: 0px 15px;
    }
    .navbar-brand{
        padding: 23px 0;
        margin: 0;
        img{
            width: 160px;
            @media only screen and (max-width: 991.98px){
                width: 100px;
            }
            @media only screen and (max-width: 767.98px){
                width: 140px;
            }
        }
    }
    .navbar-toggler{
        padding: 0.6rem 0.8rem;
        border-color: #c8c8c8;
        &:hover, &:focus{
            outline: none;
        }
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                padding: 30px 15px;
                color: $t;
                transition: all 0.3s ease;
                @media only screen and (max-width: 991.98px){
                    padding: 30px 5px;
                    font-size: 13px;
                }
                @media only screen and (max-width: 767.98px){
                    padding: 7px 0px;
                }
                &:hover, &:focus, &.active{
                    color: $main;
                }
                &.btn{
                    margin: 22px 0 0 15px;
                    font-size: 12px;
                    padding: 10px 22px;
                    line-height: normal;
                    @media only screen and (max-width: 991.98px){
                        margin: 22px 0 0 5px;
                        padding: 10px 15px;
                    }
                    @media only screen and (max-width: 767.98px){
                        margin: 10px 0 20px 0;
                    }
                    &.btn-feedback{
                        margin: 9px 0 0 5px;
                        padding: 10px 22px;
                        font-size: 13px;
                        @media only screen and (max-width: 767.98px){
                            margin: 10px 0 0 0;
                        }
                    }
                }
                &.hide-sm{
                    @media only screen and (max-width: 767.98px){
                        display: none;
                    }
                }
                &.show-sm{
                    display: none;
                    @media only screen and (max-width: 767.98px){
                        display: block;
                    }
                }
            }
            &.dropdown{
                .nav-link::after{
                    border: none;
                    content: "\f107";
                    font-family: 'FontAwesome';
                    vertical-align: middle;
                    margin-left: 5px;
                }
                .dropdown-menu{
                    border-radius: 0px;
                    margin-top: 0px;
                    border: 1px solid #DDD;
                    @media only screen and (max-width: 767.98px){
                        border-top: 1px solid #DDD;
                        border-bottom: 1px solid #DDD;
                    }
                    li{
                        .dropdown-item{
                            @media only screen and (max-width: 767.98px){
                                font-size: 12px;
                                padding-left: 10px;
                            }
                            &:hover, &:focus{
                                background-color: $main;
                            }
                        }
                    }
                }
            }

        }
        .megamenu{
            position: static;
            .dropdown-toggle{
            }
            .wrap-mega{
                border: 1px solid $border;
            }
            .dropdown-menu{
                background-color: transparent;
                position: absolute;
                width: 800px;
                left: 50%;
                transform: translateX(-50%);
                @media screen and (max-width: 991px){
                    display: none !important;
                }
                .wrap-cat{
                    padding: 20px 15px;
                    height: 100%;
                    &.industry{
                        background-color: #f3f3f3;
                    }
                    &.online{
                        background-color: #f9f9f9;
                    }
                }
                h6{
                    margin-bottom: 15px;
                }
                ul{
                    li.nav-item{
                        .nav-link{
                            position: relative;
                            padding: 0;
                            margin-bottom: 7px;
                            text-align: left;
                            color: $t;
                            transition: all 0.3s ease;
                            &:after{
                                display: none;
                            }
                            &.disabled{
                                pointer-events: none;
                                color: #979797;
                            }
                            &:hover, &:focus{
                                color: $main;
                            }
                        }
                    }
                }
            }
            &:hover, &:focus{
                .dropdown-menu{
                    display: block;
                }
            }
        }
    }
    .switcher{
        margin-left: 30px;
        @media only screen and (max-width: 991.98px){
            margin-left: 10px;
        }
        @media only screen and (max-width: 767.98px){
            position: absolute;
            right: 70px;
            top: 25px;
            margin-left: 0;
        }
        a{
            margin: 0 5px;
            color: $sec;
            transition: all 0.3s ease;
            &:hover, &:focus, &.nuxt-link-exact-active{
                color: $main;
                text-decoration: none;
            }
        }
    }
}

.mega-menu-mobile{
    h6{
        margin: 0;
    }
    ul{
        margin-bottom: 10px;
        li{
            .nav-link{
                padding: 7px 0;
                color: $t;
                font-weight: 500;
                &.disabled{
                    font-weight: 400;
                }
            }
        }
    }
    .has-border{
        padding: 10px 0 0px 0;
        border-top: 1px solid #DDD;
    }
}